<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      Cover Page
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      @page {
        size: letter;
        margin: 24pt;
      }

      body {
        font-family: 'Merriweather', 'Noto Serif', 'Noto Sans', serif;
      }

      a {
        text-decoration: none;
      }

      dd {
        margin-inline-start: 8pt;
      }

      main {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      main .sidebar {
        display: flex;
        flex-direction: column;
      }

      main .metadata {
        font-size: 10pt;
      }

      .sidebar {
        flex-grow: 0;
        padding-right: 24pt;
        border-right: 1pt solid black;
      }

      .sidebar img.preview {
        max-width: 128pt;
        margin-bottom: 36pt;
      }

      .sidebar figure {
        margin-left: 0;
        margin-bottom: 24pt;
        max-width: 128pt;
        font-size: 10pt;
      }

      .sidebar figcaption {
        margin-top: 8pt;
      }

      .required {
        font-size: 10pt;
      }

      .required h2 {
        font-size: 12pt;
        font-weight: 700;
        margin-bottom: 8pt;
      }

      figure.attribution img,
      figure.license img {
        max-width: 128pt;
      }

      figure.license {
        word-break: break-all;
      }

      .manifest-link {
        z-index: 500;
        max-width: 190pt;
        background-color: white;
        font-size: 8pt;
      }

      .pdiiif-credit {
        font-size: 8pt;
        margin-right: 8pt;
      }

      .main {
        flex-grow: 1;
        padding-left: 24pt;
      }

      .main .metadata .label {
        font-weight: 700;
      }

      .propertyvalue {
        page-break-inside: avoid;
        break-inside: avoid-page;
        margin-bottom: 4pt;
      }

      footer {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        gap: 8pt;
        justify-content: space-between;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
      }

      footer figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 128pt;
      }

      footer figcaption {
        font-size: 8pt;
        margin-top: 4pt;
      }

      footer .version {
        color: lightgray;
        font-size: 5pt;
        text-align: right;
        margin-right: 12pt;
        margin-top: -4pt;
      }

    </style>
  </head>
  <body>
    <main>
      <div class="sidebar">
        {{#if thumbUrl}}
          <img class="preview" src="{{thumbUrl}}" alt="Preview Image" />
        {{/if}}

        {{#if providerText}}
          <p>
            {{#if providerLink}}
              <a href="{{providerLink}}">
                {{providerText}}
              </a>
            {{else}}
              {{providerText}}
            {{/if}}
          </p>
        {{/if}}

        {{#if rightsLogo}}
          <figure class="license">
            {{#if rightsLink}}
            <a href="{{rightsLink}}">
              <img class="logo" src="{{rightsLogo}}" />
            </a>
            {{else}}
            <img class="logo" src="{{rightsLogo}}" />
            {{/if}}
            {{#if rightsText}}
              <figcaption>
                {{#if rightsLink}}
                  <a href="{{rightsLink}}">
                    {{rightsText}}
                  </a>
                {{else}}
                  {{rightsText}}
                {{/if}}
              </figcaption>
            {{/if}}
          </figure>
        {{else if rightsText}}
          <p>
            {{#if rightsLink}}
              <a href="{{rightsLink}}">
                {{rightsText}}
              </a>
            {{else}}
              {{rightsText}}
            {{/if}}
          </p>
        {{/if}}
        {{#if requiredStatement}}
          <div class="required">
            <h2>
              {{requiredStatement.label}}
            </h2>
              {{#sanitizeHtml requiredStatement.value}}{{/sanitizeHtml}}
          </div>
        {{/if}}
      </div>
      <div class="main">
        <h1 class="title">
          {{title}}
        </h1>
        <dl class="metadata">
          {{#each metadata}}
            <div class="propertyvalue">
              <dt class="label">
                {{this.[0]}}
              </dt>
              <dd class="value">
                {{#if (isArray this.[1])}}
                  <ul>
                    {{#each this.[1]}}
                      <li>
                        {{#sanitizeHtml this}}{{/sanitizeHtml}}
                      </li>
                    {{/each}}
                  </ul>
                {{else}}
                  {{#sanitizeHtml this.[1]}}{{/sanitizeHtml}}
                {{/if}}
              </dd>
            </div>
          {{/each}}
        </dl>
      </div>
    </main>
    <footer>
      <p class="manifest-link">
        <a href="{{manifestUrl}}">
          {{manifestUrl}}
        </a>
      </p>
      <p class="pdiiif-credit">
        Created with PDIIIF<br />
        <a href="https://pdiiif.jbaiter.de">
          https://pdiiif.jbaiter.de
        </a>
      </p>
    </footer>
    <script>
      const mainElem = document.querySelector('main');
      if (mainElem.offsetHeight > 800) {
        const footer = document.querySelector('footer');
        footer.style.position = 'relative';
        footer.style.marginTop = '96pt';
      }
    </script>
  </body>
</html>